.beers_column {
    flex-basis: 25%;
}

.beer_list button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 20px 0;
    background: transparent;
    border: 1px solid rgb(66, 66, 66);
    border-radius: 3px;
    padding: 10px;
    text-transform: uppercase;
    transition: 10ms linear;
}

.beer_list button:hover {
    transform: translateX(-50%) scale(1.01)
}

.beers_column h2 {
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;

}

button.dark {
    background-color: rgb(55, 57, 63);
    color: white;
    border: none;
}